<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/style.css" type="text/css" />
	<title>News Rip</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/main.js"></script>
</head>

<body>
	<header>
		<div class="jumbotron text-center">
			<h1>News Ripper</h1>
			<p class="text-center">Every article on this site has been scraped from New York Times. You can view, add, or change the comments on each of these articles.</p>
		</div>
	</header>
	{{{ body }}}
</body>

</html>