<div class="container">
    <div class="row">
        <div class="well well-sm" id="notes">
            <p>Select an article to view, add, or edit a comment!</p>
        </div>
    </div>
</div>
<div class="container">
    <div id="articles">
    </div>
</div>