<div class="container">
    <div class="row">
        <div class="well well-sm" id="notes">
            <p>Click the Scrape button to rip some news articles.</p>
            <p>Select an article to view, add, or edit a comment.</p>
            <div class="scrapeButton">
                <button type="button">
                    <a href="/scrape">Scrape articles</a>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="articles">
    </div>
</div>